<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Members Only</title>
</head>
<body>
  <% if (user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <nav>
      <ul>
        <li><a href="/logout">LOG OUT</a></li>
        <% if (!user.membership_status) {%>
        <li><a href="/join">Join the club</a></li>
        <%}%>
        <li><a href="/messages/create">Create a Message</a></li>
      </ul>
    </nav>
  <% } else { %>
    <nav>
      <ul>
        <li><a href="/login">LOG IN</a></li>
        <li><a href="/register">REGISTER</a></li>
      </ul>
    </nav>
  <%}%>
</body>
</html>