<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Join the club</title>
  </head>
  <body>
    <h1>Join the club</h1>
    <form action="/join" method="POST">
      <label for="passcode">Secret Passcode</label>
      <input
        id="passcode"
        name="passcode"
        placeholder="Secret Passcode"
        type="password"
      />
      <% if (error) {%>
          <p><%=error%></p>
      <%}%>
      <button type="submit">Join</button>
    </form>
  </body>
</html>
