<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form action="/register" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <label for="firstname">First Name</label>
      <input
        id="firstname"
        name="firstname"
        placeholder="firstname"
        type="text"
      />
      <label for="lastname">Last Name</label>
      <input id="lastname" name="lastname" placeholder="lastname" type="text" />
      <% if (locals.errors) {%>
      <ul>
        <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
      <%  } %>
      <button type="submit">Register</button>
    </form>
  </body>
</html>
